language: minimal
os: linux
services:
  - docker
before_install:
  - docker build -t prashantbist/frontend-dev -f Dockerfile.dev . 
script:
  - docker run -e CI=true prashantbist/frontend-dev npm run test -- --coverage