services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image : prashantbist/frontend:latest
    volumes:
      - /app/node_modules
      - .:/app
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true    
