sudo: required
services:
  - docker

before_install:
  - docker build -t multi-container-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true multi-container-test npm test -- --coverage 

after_success:
  - docker build -t prashantbist/complexclient:latest  ./client
  - docker build -t prashantbist/complexserver:latest  ./server
  - docker build -t prashantbist/complexworker:latest  ./worker
  - docker build -t prashantbist/complexnginx:latest  ./nginx