version: '3.8'
services:
  my-nodeapp:
    image: prashantbist/my-nodeapp:1.8
    restart: always
    networks: 
      - my-network
    ports:
      - 3000:3000
    environment:
      MONGO_URL: mongodb://admin:password@mongodb:27017/  

  mongodb:
    image: mongo
    restart: always
    networks: 
      - my-network
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    networks: 
      - my-network
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://admin:password@mongodb:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: ''
      ME_CONFIG_BASICAUTH_PASSWORD: ''
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb

networks:
  my-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local
    